@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lauren Zierden<br />
    Copeland 012, Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    425.638.1226
</address>

<address>
    <strong>Support:</strong>   <a href="lz523915@ohio.edu">lz523915@ohio.edu</a>
 
</address>